@*@model IEnumerable<account.Database.bill_transaction>*@
@using PagedList.Mvc;
@model PagedList.IPagedList<account.Models.PayHistory>

@Html.Hidden("getSilp", @Url.Action("getSilp", "Quotation"))
@Html.Hidden("SearchQuotationNo", @Url.Action("SearchQuotationNoHistory", "Quotation"))

<div class="card col-md-12">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 textcen">
                <label set-lan="text:Quotation No"></label>
                <span>
                    <input id="txtQuo" class="form-control" />
                </span>
            </div>
            <div class="col-md-4 textcen">
                <label set-lan="text:Month-"></label>
                <span>
                    @Html.DropDownList("linktoMonthId", null, null, new
               {
                   @id = "ddlMonths",
                   @class = "form-control",
                   @style = "width:200px ; display:block !important"
               })
                </span>
            </div>
            <div class="col-md-4 textcen">
                <label set-lan="text:Year-"></label>
                <span>
                    @Html.DropDownList("linktoYearId", null,null, new
               {
                   @id = "ddlYears",
                   @class = "form-control",
                   @style = "width:200px ; display:block !important"
               })
                </span>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <button type="button" class="btn btn-yellow" onclick="SearchQuotation();" set-lan="text:Search" style="top:10px"></button>
            </div>
        </div>
       
    </div>
</div>


        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("HistoryList",
       new { page,sortOrder = ViewBag.CurrentSort,currentFilter = ViewBag.CurrentFilter}))
        <table class="table table-border" id="HistoryList">
            <thead>
                <tr>
                    <th set-lan="text:Quotation No"></th>
                    <th set-lan="text:Currency"></th>
                    <th set-lan="text:Amount"></th>
                    <th set-lan="text:Create date"></th>
                    <th set-lan="text:View History"></th>
                    <th set-lan="text:Edit"></th>
                </tr>
            </thead>

            <tbody>
                @if (Model.Count() != 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.bill_trans
                            </td>
                            <td>
                                <label set-lan="text:Currency-" class="fontbold"></label>
                                <span style="float:right">@item.currency_name</span><br />
                                <label set-lan="text:Rate_" class="fontbold"></label>
                                <span style="float:right">@item.rate</span><br />
                            </td>
                            <td>
                                <label set-lan="text:Amount-" class="fontbold"></label>
                                <span style="float:right">@item.amount.ToString("0,000.00")</span><br />
                                <label set-lan="text:AmtThai_" class="fontbold"></label>
                                <span style="float:right">@item.amount_thai.ToString("0,000.00")</span><br />
                            </td>
                            <td style="text-align:center">
                                @item.create_date
                                <br />
                            </td>

                            <td style="text-align:center">
                                <button class="btn btn-green fa fa-picture-o" type="button" id="viewbtn" name="viewbtn" onclick="openModal('@item.file_code')" style="border:hidden"></button>
                            </td>
                            <td style="text-align:center">
                                @Html.ActionLink(" ", "EditSlip", "Quotation", new { id = @item.Id, date = @item.my, u = @Session["UserID"].ToString() }, new { @class = "btn btn-yellow fa fa-edit" })
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" style="text-align:center"> No data.</td>
                    </tr>
                }
            </tbody>
        </table>

        @* Modal start*@
        <div class="modal fade" id="ModalPopUp" role="dialog">
            <div class="modal-dialog modal-lg" style="">
                <div class="modal-content">
                    <div class="modal-body" style="text-align:center;">
                        <div id="gall"></div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button id="btnclose" type="button" class="btn btn-yellow font-weight-bold waves-effect waves-light" data-dismiss="modal" aria-label="Close" set-lan="text:Close"></button>
                    </div>
                </div>
            </div>
        </div>
        @* Modal end*@

        <script>
            function openModal(filecode) {
                console.log(filecode);
                $('#ModalPopUp').modal('show');

                var urlAction = $('#getSilp').val();
                console.log(urlAction);

                $.ajax({
                    url: urlAction,
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        fileCode: filecode,
                    },
                    success: function (obj) {
                        console.log(obj);
                        console.log(obj.result.length);

                        for (var i = 0; i < obj.result.length; i++) {
                            const item = obj.result[i].url;
                            console.log("item", item);
                            const para = document.createElement("img");
                            para.src = item;
                            para.setAttribute("id", "ShwImg");
                            para.style.cssText = 'width:400px;height:550px;margin-top:5px';
                            document.getElementById("gall").appendChild(para);

                        }
                    }
                });
            }
            $('#btnclose').click(function () {
                var count = $("#gall > img").length;
                console.log(count);
                for (var i = 0; i < count; i++) {
                    const img = document.getElementById('ShwImg');
                    img.parentNode.removeChild(img);
                }
                $('#ModalPopUp').modal('hide');
            });

            function SearchQuotation() {
                var urlAction = $('#SearchQuotationNo').val();
                var _id = @Session["UserID"].ToString();
                const options = {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2
                };
                //console.log(_date);
                $.ajax({
                    url: urlAction,
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        quo: $("#txtQuo").val(),
                        month: $("#ddlMonths").val(),
                        year: $("#ddlYears").val(),
                        id: _id,
                    },
                    success: function (obj) {
                        console.log(obj);
                        //console.log(obj);
                        console.log(obj.result.length);

                        $("#HistoryList > tbody").html("");
                        var htmlDetail = "";


                        if (obj.result.length == 0) {
                            htmlDetail += "<tr><td colspan='6' style='text-align: center;'>No data.</td></tr>";
                        }
                        else {

                            var no = 1;
                            for (var i = 0; i < obj.result.length; i++) {
                                var _rate = parseFloat(obj.result[i].rate).toFixed(2);
                                htmlDetail += "<tr>";
                                htmlDetail += "<td>" + obj.result[i].bill_trans + "</td>";
                                htmlDetail += "<td><label set-lan='text:Currency-' class='fontbold'></label><span style='float: right'>" + obj.result[i].currency_name + "</span><br/><label set-lan='text:Rate_' class='fontbold'></label><span style='float: right'>" + _rate + "</span></td>";
                                htmlDetail += "<td><label set-lan='text:Amount-' class='fontbold'></label><span style='float: right'>" + obj.result[i].amount.toLocaleString('en', options) + "</span><br/><label set-lan='text:AmtThai_' class='fontbold'></label><span style='float: right'>" + obj.result[i].amount_thai.toLocaleString('en', options)  + "</span></td>";
                                htmlDetail += "<td>" + obj.result[i].create_date + "</td>";
                               
                                htmlDetail += "<td><button class='btn btn-green fa fa-picture-o waves-effect waves-light' type='button' id='viewbtn' name='viewbtn' onclick='openModal(`" + obj.result[i].file_code + "`)' style='border: hidden'></button></td>";
                                htmlDetail += "<td><a class='btn btn-yellow fa fa-edit waves-effect waves-light' href='/Quotation/EditSlip?id=" + obj.result[i].Id + "&date=" + obj.result[i].my + "&u=" +@Session["UserID"].ToString()+"'></a></td>";
                                htmlDetail += "</tr>";
                                no++;
                            }
                        }
                        $("#HistoryList > tbody").append(htmlDetail);

                        SetLan($('#txtLan').val());
                    }
                });
            }

        </script>

        <style>
            .fontbold {
                font-weight: bold;
            }

            .textcen {
                padding-top: 10px;
            }

            /*table.table .link, table.table thead .sorting:not(.no-sort), table.table thead .sorting_asc:not(.no-sort), table.table thead .sorting_desc:not(.no-sort) {
                color: white !important;
                font-weight: bold !important;
            }*/

            label {
                float: left;
            }

            span {
                display: block;
                overflow: hidden;
                padding: 0 4px 0 6px;
            }

            input {
                width: 100%;
                float: right;
            }
        </style>
