@*@model IEnumerable<account.Database.bill_transaction>*@
@using PagedList.Mvc;
@model PagedList.IPagedList<account.Models.QuotationAll>
@{
    
}
@Html.Hidden("ViewData", @Url.Action("UploadSlip", "Quotation"))
@Html.Hidden("ViewQuo", @Url.Action("Quotations", "Quotation"))
@Html.Hidden("SearchMonthYear", @Url.Action("SearchMonthYear", "Quotation"))


<script src="~/Scripts/language_Login.js"></script>


<script>
  
    function OpenPage() {

        var urlAction = $('#ViewData').val();
        window.location.href = urlAction;
    }

    function OpenQuo() {
        var urlAction = $('#ViewQuo').val();
        window.location.href = urlAction;
    }

    function SearchQuotationNo() {
       
        console.log("aaaaaaaaaaaaaa");
    }

    function SearchMonthYear2() {
        var urlAction = $('#SearchMonthYear').val();
        var _id = @Session["UserID"].ToString();
       

        console.log(urlAction);

        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                month: $("#ddlMonths").val(),
                year: $("#ddlYears").val(),
                id: _id,
            },
            success: function (obj) {
                console.log(obj);
                console.log(obj.result.length);
                const options = {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2
                };

                $("#listquotation > tbody").html("");
                var htmlDetail = "";
                //var obj = JSON.parse(obj.result);

                
                if (obj.result.length == 0) {
                    htmlDetail += "<tr><td colspan='6' style='text-align: center;'>No data.</td></tr>";
                }
                else {

                    var no = 1;
                    for (var i = 0; i < obj.result.length; i++) {
                       var monthN = "";
                        if (obj.result[i].month == 1) {
                            monthN = "January"
                        } else if (obj.result[i].month == 2) {
                            monthN = "February"
                        } else if (obj.result[i].month == 3) {
                            monthN = "March"
                        } else if (obj.result[i].month == 4) {
                            monthN = "April"
                        } else if (obj.result[i].month == 5) {
                            monthN = "May"
                        } else if (obj.result[i].month == 6) {
                            monthN = "June"
                        } else if (obj.result[i].month == 7) {
                            monthN = "July"
                        } else if (obj.result[i].month == 8) {
                            monthN = "August"
                        } else if (obj.result[i].month == 9) {
                            monthN = "September"
                        } else if (obj.result[i].month == 10) {
                            monthN = "October"
                        } else if (obj.result[i].month == 11) {
                            monthN = "November"
                        } else if (obj.result[i].month == 12) {
                            monthN = "December"
                        }

                        htmlDetail += "<tr>";
                        htmlDetail += "<td><label set-lan='text:Start date' class='fontbold'></label>" + monthN + " " + obj.result[i].year + "</td>";
                        htmlDetail += "<td><label set-lan='text:Company Name-' class='fontbold'></label>" + obj.result[i].name + "</td>";
                        htmlDetail += "<td><label set-lan='text:Grand Total_' class='fontbold'></label><span style='float: right'>" + obj.result[i].grand_total.toLocaleString('en', options) + "</span><br /><label set-lan='text:Balance Paid_' class='fontbold'></label><span style='float: right'>" + obj.result[i].complete_amount.toLocaleString('en', options) + "</span><br /><label set-lan='text:Balance Amount' class='fontbold'></label><span style='float: right'>" + obj.result[i].balance_amount.toLocaleString('en', options) + "</span><br /><label set-lan='text:Overpayment-' class='fontbold'></label><span style='float: right'>" + obj.result[i].overpay.toLocaleString('en', options) + "</span></td>";
                        htmlDetail += "<td style='text-align:center'><a class='btn-sm btn-green fa fa-search' href='/Quotation/ListPrefix?id=" + obj.result[i].company_id+ "&date=" + obj.result[i].year + obj.result[i].month + "'></a></td>";


                        
                        htmlDetail += "</tr>";
                        no++;
                    }
                }
                $("#listquotation > tbody").append(htmlDetail);

                SetLan($('#txtLan').val());
            }
        });
    }
    
</script>

<body>
    <div class="card col-md-12">
        <div class="card-body">
          
            <div class="row">
                <div class="col-md-4 textcen">
                    <label set-lan="text:Month-"></label>
                    <span>
                        @Html.DropDownList("linktoMonthId", null, "--Select--", new
                   {
                       @id = "ddlMonths",
                       @class = "form-control",
                       @style = "width:200px ; display:block !important"
                   })
                    </span>
                </div>
                <div class="col-md-4 textcen">
                    <label set-lan="text:Year-"></label>
                    <span>
                        @Html.DropDownList("linktoYearId", null, "--Select--", new
                   {
                       @id = "ddlYears",
                       @class = "form-control",
                       @style = "width:200px ; display:block !important"
                   })
                    </span>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-yellow" onclick="SearchMonthYear2()" set-lan="text:Search" style="top:10px"></button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <section style="float: right; margin-top: -2.2rem;">
        <div class="data-container"></div>
        <div id="pagination-demo2"></div>
    </section>
    <div style="margin:5px;">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("ListQuotation",
       new { page,sortOrder = ViewBag.CurrentSort,currentFilter = ViewBag.CurrentFilter}))
    </div>
    <table id="listquotation" class="table table-border xxx" style="width:100%">
        <thead>
            <tr>
                <th set-lan="text:Period"></th>
                <th set-lan="text:Company Name"></th>
                <th set-lan="text:Amount"></th>
                <th set-lan="text:Action"></th>
            </tr>
        </thead>

        <tbody>
            @if (Model.Count() != 0)
            {
                foreach (var item in Model)
                {
                    string monthN = "";
                    if (item.month == 1)
                    {
                        monthN = "January";
                    }
                    else if (item.month == 2)
                    {
                        monthN = "February";
                    }
                    else if (item.month == 3)
                    {
                        monthN = "March";
                    }
                    else if (item.month == 4)
                    {
                        monthN = "April";
                    }
                    else if (item.month == 5)
                    {
                        monthN = "May";
                    }
                    else if (item.month == 6)
                    {
                        monthN = "June";
                    }
                    else if (item.month == 7)
                    {
                        monthN = "July";
                    }
                    else if (item.month == 8)
                    {
                        monthN = "August";
                    }
                    else if (item.month == 9)
                    {
                        monthN = "September";
                    }
                    else if (item.month == 10)
                    {
                        monthN = "October";
                    }
                    else if (item.month == 11)
                    {
                        monthN = "November";
                    }
                    else if (item.month == 12)
                    {
                        monthN = "December";
                    }
                    string _id = @item.year.ToString() + @item.month.ToString();
                    <tr>
                        <td>
                            <label set-lan="text:Start date" class="fontbold"></label>@monthN @item.year
                        </td>
                        <td>
                            <label set-lan="text:Company Name-" class="fontbold"></label>@item.name
                        </td>
                        <td>
                            @*amount*@
                            <label set-lan="text:Grand Total_" class="fontbold"></label><span style="float:right">@item.grand_total.ToString("0,000.00")</span><br />
                            <label set-lan="text:Balance Paid_" class="fontbold"></label><span style="float:right">@item.complete_amount.ToString("0,000.00")</span><br />
                            <label set-lan="text:Balance Amount" class="fontbold"></label><span style="float:right">@item.balance_amount.ToString("0,000.00")</span><br />
                            <label set-lan="text:Overpayment-" class="fontbold"></label><span style="float:right">@item.overpay.ToString("0,000.00")</span>
                        </td>
                        <td style="text-align:center">@Html.ActionLink(" ", "ListPrefix", "Quotation", new { id = item.company_id, date = @_id }, new { @class = "btn-sm btn-green fa fa-search" })</td>            
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8" style="text-align:center"> No data.</td>
                </tr>
            }

        </tbody>
    </table>
</body>

<style>
    .textcen {
        padding-top: 10px;
    }

    table.table .link, table.table thead .sorting:not(.no-sort), table.table thead .sorting_asc:not(.no-sort), table.table thead .sorting_desc:not(.no-sort) {
        color: white !important;
        font-weight: bold !important;
    }

    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }

    .fontbold {
        font-weight: bold;
    }
</style>