@model IEnumerable<account.Database.bill_transaction>
@{
    ViewBag.Title = "ListQuotation";
    //Layout = "~/Views/Quotation/SiteMaster.cshtml";
}
@Html.Hidden("ViewData", @Url.Action("UploadSlip", "Quotation"))
@Html.Hidden("ViewQuo", @Url.Action("Quotations", "Quotation"))
@Html.Hidden("SearchQuotation", @Url.Action("SearchQuotationDate", "Quotation"))

@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@

<script src="~/Scripts/jquery-3.5.1.js"></script>
<link href="~/Content/styles/dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/language_Login.js"></script>
<link href="~/Content/styles/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>
    function OpenPage() {

        var urlAction = $('#ViewData').val();
        window.location.href = urlAction;

    }

    function OpenQuo() {

        var urlAction = $('#ViewQuo').val();
        window.location.href = urlAction;

    }
    function searchQuotationByDate() {
        var urlAction = $('#SearchQuotation').val();
        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                start_date: $("#txtStartDate").val(),
                end_date: $("#txtEndDate").val(),
            },
            success: function (obj) {

                $("#listquotation > tbody").html("");
                var htmlDetail = "";
                var obj = JSON.parse(obj.result);


                if (obj.length == 0) {
                    htmlDetail += "<tr><td colspan='5' style='text-align: center;'>No data.</td></tr>";
                }
                else {

                    var no = 1;
                    for (var i = 0; i < obj.length; i++) {
                        var date2 = new Date(obj[i].start_date);
                        var DateCreate = ("0" + date2.getDate()).slice(-2) + "/" + ("0" + (date2.getMonth() + 1)).slice(-2) + "/" + date2.getFullYear();

                        htmlDetail += "<tr>";
                        htmlDetail += "<td>" + DateCreate + "</td>";
                        htmlDetail += "<td>" + obj[i].no + "</td>";
                        htmlDetail += "<td style='text-align:center'><a class='btn btn-lg btn-green fa fa-plus-square' href='/Quotation/UploadSlip?id=" + obj[i].id + "'> Upload Slip</a></td>";
                        if (obj[i].is_complete == 1) {
                            htmlDetail += "<td>no complete and confirm bill</td>";
                        }
                        else if (obj[i].is_complete == 2) {
                            htmlDetail += "<td>complete</td>";
                        }
                        else if (obj[i].is_complete == 3) {
                            htmlDetail += "<td>done</td>>";
                        }
                        else {
                            htmlDetail += "<td>-</td>";
                        }

                        if (obj[i].is_confirm != true) {
                            htmlDetail += "<td style='text-align: center'><a class='btn btn-yellow btn-block' style='width: auto;' href='../Quotation/Quotations?Id=" + obj[i].id + "'><i class='fbtn btn-lg btn-outline-warning fa fa-file-pdf-o'></i></a></td>";
                        } else {
                            htmlDetail += "<td style='text-align: center'><a class='btn btn-green btn-block' style='width: auto;' href='../Quotation/QuotationsPaid?Id=" + obj[i].id + "'><i class='fbtn btn-lg btn-outline-success fa fa-file-pdf-o'></i></a></td>";
                        }




                        htmlDetail += "</tr>";
                        no++;
                    }
                }

                $("#listquotation > tbody").append(htmlDetail);


                //if (obj.result == "Update Car Brand Complete!") {
                //    var urlAction = $('#ViewData').val();
                //    window.location.href = urlAction;
                //}
            }
        });
    }

</script>

<body>

    @*@{Html.RenderPartial("~/Views/Quotation/SiteMaster.cshtml");}*@


    <div class="row" style="margin-top:90px">
        <div class="col-md-2"></div>
        <div class="col-md-2 col-md-9">
            <div class="card" style="margin-top:15px">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 textcen">
                            <label set-lan="text:Start date"></label>
                        </div>
                        <div class="col-md-2">
                            <span>
                                <input type="date" id="txtStartDate" class="form-control" />
                            </span>
                        </div>
                        <div class="col-md-2 textcen">
                            <label set-lan="text:End date"></label>
                        </div>
                        <div class="col-md-2">
                            <span>
                                <input type="date" id="txtEndDate" class="form-control" />
                            </span>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-outline-primary" onclick="searchQuotationByDate()">search</button>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="card" style="margin-top:20px">
                <div class="card-body">
                    <table id="listquotation" class="table table-bordered table-hover table-striped wrap" style="width:100%">
                        <thead>
                            <tr>
                                <th set-lan="text:Start date"></th>
                                <th set-lan="text:Quotation No"></th>
                                <th set-lan="text:Upload Silp"></th>
                                <th set-lan="text:Status"></th>
                                <th set-lan="text:PDF File"></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>@item.start_date.ToString("dd/MM/yyyy")</td>
                                    <td>@item.no</td>
                                    <td style="text-align:center">@Html.ActionLink(" ", "UploadSlip", "Quotation", new { id = item.id }, new { @class = "btn btn-lg btn-green fa fa-plus-square" })</td>
                                    @if (@item.is_complete == 1)
                                    {
                                        <td>no complete and confirm bill</td>
                                    }
                                    else if (@item.is_complete == 2)
                                    {
                                        <td>complete</td>
                                    }
                                    else if (@item.is_complete == 3)
                                    {
                                        <td>done</td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    }
                                    @if (@item.is_confirm != true)
                                    {
                                        <td style="text-align:center">@Html.ActionLink(" ", "Quotations", "Quotation", new { id = item.id }, new { @class = "btn btn-lg btn-yellow fa fa-file-pdf-o" })</td>
                                    }
                                    else
                                    {
                                        <td style="text-align:center">@Html.ActionLink(" ", "QuotationsPaid", "Quotation", new { id = item.id }, new { @class = "btn btn-lg btn-green fa fa-file-pdf-o" })</td>
                                    }

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("SiteMaster")
</body>

<script>
    $(document).ready(function () {
        $('#listquotation').DataTable();
    });

</script>

<style>
    .textcen {
        padding-top: 10px;
    }

    table.table .link, table.table thead .sorting:not(.no-sort), table.table thead .sorting_asc:not(.no-sort), table.table thead .sorting_desc:not(.no-sort) {
        color: white;
        font-weight: bold;
    }
</style>