@model account.Database.bill_transaction
@{

    List<SelectListItem> TypeEn = new List<SelectListItem>();
    TypeEn.Add(new SelectListItem
    {
        Text = "Saving Account",
        Value = "1"
    });
    TypeEn.Add(new SelectListItem
    {
        Text = "Fixed Deposit Account",
        Value = "2"
    });
    TypeEn.Add(new SelectListItem
    {
        Text = "Current Account",
        Value = "3"
    });
    TypeEn.Add(new SelectListItem
    {
        Text = "Crypto Currency",
        Value = "4"
    });

    List<SelectListItem> TypeTh = new List<SelectListItem>();
    TypeTh.Add(new SelectListItem
    {
        Text = "บัญชีเงินฝากออมทรัพย์",
        Value = "1"
    });
    TypeTh.Add(new SelectListItem
    {
        Text = "บัญชีเงินฝากประจำ",
        Value = "2"
    });
    TypeTh.Add(new SelectListItem
    {
        Text = "บัญชีเงินฝากกระแสรายวัน หรือบัญชีเงินฝากเดินสะพัด",
        Value = "3"
    });
    TypeTh.Add(new SelectListItem
    {
        Text = "คริปโทเคอร์เรนซี",
        Value = "4"
    });

}
@Html.Hidden("insSlip", @Url.Action("insSlip", "Quotation"))
@Html.Hidden("UpdateBillTrans", @Url.Action("UpdateBillTrans", "Quotation"))
@Html.Hidden("ViewData", @Url.Action("ListQuotation", "Quotation"))
@Html.HiddenFor(m => m.id)

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>



<div class="row">
    <div class="col-md-12">
        <div class="card bg-light text-dark">
            <div class="card-body" style="background :#fff">

                <h1 set-lan="text:Upload Silp"></h1>
                <br />
                <div id="ListPayment1">
                    <div class="row">
                        <div class="col-md-4">
                            <br />
                            <label set-lan="text:Type"> :</label>
                            <span>
                                @Html.DropDownList("type1",
                                                          new SelectList(TypeEn, "Value", "Text"), "choose type",
                                                                 new { @class = "form-control", @style = "float:right;display: block !important"})
                            </span>
                        </div>

                        <div class="col-md-4">
                            <br />
                            <label set-lan="text:Amount"> :</label>
                            <span>
                                <input id="amount1" class="form-control" />
                            </span>
                        </div>

                        <div class="col-md-4">
                            <br />
                            <label set-lan="text:Currency"> :</label>
                            <span>
                                @Html.DropDownList("currency_id1",
                              new SelectList(ViewBag.CurList, "iValue", "iKey",8), "choose currency",
                                     new { @class = "form-control", @style = "float:right;display: block !important", @onchange = "disRate(rate1)" })
                            </span>
                        </div>
                        <br />
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <br />
                            <label set-lan="text:Rate"></label>
                            <span>
                                <input id="rate1" class="form-control" value="1" disabled />
                            </span>
                        </div>
                        <div class="col-md-4">
                            <br />
                            <label set-lan="text:Slip"> :</label>
                            <span>
                                <input type="file" class="form-control" id="Slip_1" name="image" onchange="CheckExt(this)" />
                                <img src="~/SlipImg/noImage.png" id="img_1" style="width:150px;height:200px;margin-top:10px" />
                            </span>
                        </div>
                    </div>
                    <br />
                </div>

                <div class="row">
                    <div class="col-md-3" style="text-align-last:right">
                        <span class="btn btn-green fa fa-plus" set-lan="text:AddSlip" id="cloneDiv" onclick="cloneDivTier()"></span>
                    </div>
                    <div class="col-md-3">
                        <span class="btn btn-yellow fa fa-minus" set-lan="text:DelSlip" id="removeDiv" onclick="removeDivTier()" style="display:none"></span>
                    </div>
                </div>
                <br />

                <table id="QuoList" class="table table-border">
                    <thead>
                        <tr>
                            <th>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input checkheader" name="select_all" value="1" id="select_all" >
                                    <label class="form-check-label" for="select_all" set-lan="text:selectAll"></label>
                                </div>
                            </th>
                            <th><label set-lan="text:Quotation No"></label></th>
                            <th><label set-lan="text:Amount"></label></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int no = 1;}
                        @foreach (var item in ViewBag.Quotation)
                        {
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="select_all" value="@item.id" id="chk_@no">
                                        <label class="form-check-label" for="chk_@no"></label>
                                    </div>
                                </td>
                                <td>
                                    <label set-lan="text:Quotation No_"></label>@item.no
                                </td>
                                <td>
                                    @*amount*@
                                    <label set-lan="text:Grand Total_" class="fontbold"></label><span style="float:right">@item.grand_total.ToString("0,000.00")</span><br />
                                    <label set-lan="text:Balance Paid_" class="fontbold"></label><span style="float:right">@item.complete_amount.ToString("0,000.00")</span><br />
                                    <label set-lan="text:Balance Amount" class="fontbold"></label><span style="float:right">@item.balance_amount.ToString("0,000.00")</span><br />
                                    <label set-lan="text:Overpayment-" class="fontbold"></label><span style="float:right">@item.overpay.ToString("0,000.00")</span>
                                </td>
                            </tr>
                            no++;
                        }

                    </tbody>
                </table>
                <br />
                <div class="row">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-5"></div>
                            <div class="col-md-2">
                                <span class="btn btn-lg btn-green" type="button" set-lan="text:Upload" id="btnUpload" onclick="insSlip()"></span>
                            </div>
                            <div class="col-md-5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>

</div>

<script>
    $('#select_all').click(function (e) {
        var chkArray = [];
        var table = $(e.target).closest('table');
        $('td input:checkbox', table).prop('checked', this.checked);

    });
    chkRow();
    function chkRow() {
        var $div = $('div[id^="ListPayment"]:last');
        var num = parseInt($div.prop("id").match(/\d+/g), 10) + 1;
        console.log(num);
        if (num == 2) {
            $('#removeDiv').hide();
        } else {
            $('#removeDiv').show();
        }
    }

    function cloneDivTier() {
        var htmlData = '';
        var $div = $('div[id^="ListPayment"]:last');
        var num = parseInt($div.prop("id").match(/\d+/g), 10) + 1;
        var $ListPayment = $div.clone().prop('id', 'ListPayment' + num);

        htmlData += '<div class="row">';
        htmlData += '<div class="col-md-4"><br/>';
        htmlData += '<label set-lan="text:Type"> :</label>';
        htmlData += '<span>';
        htmlData += '<select class="form-control" id="type' + num + '" name="type" style="float:right;display: block !important"><option value="">choose type</option>';
        htmlData += '<option value="1">Saving Account</option>';
        htmlData += '<option value="2">Fixed Deposit Account</option>';
        htmlData += '<option value="3">Current Account</option>';
        htmlData += '<option value="4">Crypto Currency</option>';
        htmlData += '</select>';
        htmlData += '</span>';
        htmlData += '</div>';

        htmlData += '<div class="col-md-4"><br/>';
        htmlData += '<label set-lan="text:Amount"></label>';
        htmlData += '<span>';
        htmlData += '<input id="amount' + num + '" class="form-control">';
        htmlData += '</span>';
        htmlData += '</div>';

        htmlData += '<div class="col-md-4"><br/>';
        htmlData += '<label set-lan="text:Currency"></label>';
        htmlData += '<span>';
        htmlData += '<select class="form-control" id="currency_id' + num + '" name="currency_id" style="float:right;display: block !important", onchange = "disRate(rate'+num+')"><option value="">choose currency</option>';
        htmlData += '<option value="9">CNY</option>';
        htmlData += '<option value="14">EUR</option>';
        htmlData += '<option value="12">HKD</option>';
        htmlData += '<option value="2">IDR</option>';
        htmlData += '<option value="15">INR</option>';
        htmlData += '<option value="11">JPY</option>';
        htmlData += '<option value="1">KHR</option>';
        htmlData += '<option value="16">KRW</option>';
        htmlData += '<option value="3">LAK</option>';
        htmlData += '<option value="5">MMK</option>';
        htmlData += '<option value="4">MYR</option>';
        htmlData += '<option value="6">PHP</option>';
        htmlData += '<option value="7">SGD</option>';
        htmlData += '<option value="8" selected>THB</option>';
        htmlData += '<option value="17">USD</option>';
        htmlData += '<option value="10">USDT</option>';
        htmlData += '<option value="13">VND</option>';
        htmlData += '</select>';
        htmlData += '</span>';
        htmlData += '</div><br/>';
        htmlData += '</div>';

        htmlData += '<div class="row">';
        htmlData += '<div class="col-md-4"><br/>';
        htmlData += '<label set-lan="text:Rate"></label>';
        htmlData += '<span>';
        htmlData += '<input id="rate' + num + '" class="form-control" value="1"  disabled>';
        htmlData += '</span>';
        htmlData += '</div>';

        htmlData += '<div class="col-md-4"><br/>';
        htmlData += '<label set-lan="text:Slip">Slip</label>';
        htmlData += '<span>';
        htmlData += '<input type = "file" class="form-control" id = "Slip_' + num + '" name = "image" onchange="CheckExt(this)">';
        htmlData += '<img src="/SlipImg/noImage.png" id="img_' + num + '" style="width:150px;height:200px;margin-top:10px" />';
        htmlData += '</span>';
        htmlData += '</div><br/>';
        htmlData += '</div><br/>';

        $div.after($ListPayment.html(htmlData));
       document.getElementById("removeDiv").style.display = "unset";

        SetLan(localStorage.getItem("Language"));
    }

    function removeDivTier() {
        var $div = $('div[id^="ListPayment"]:last');
        var num = parseInt($div.prop("id").match(/\d+/g), 10);
        var text = "ListPayment" + num;
        if (num == 2) {
            document.getElementById("removeDiv").style.display = "none";
        }
        const element = document.getElementById("ListPayment"+num);
        element.remove();

        //removeElement(text);
        //removeElement("ListPayment", num);
    }

    var validFiles = ["bmp", "gif", "png", "jpg", "jpeg", "pic", "psd", "tif", "eps"];
    function CheckExt(obj) {
        console.log(obj.id);
        var IDimg = obj.id.split('_')[1];
        var input = obj;
        var url = obj.value;
        var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
        console.log(IDimg);
        if (input.files && input.files[0] && (ext == "bmp" || ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg" || ext == "mp4" || ext == "mov" || ext == "wmv" || ext == "avi")) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img_' + IDimg).attr('src', e.target.result);
                //console.log(e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
        else {
            $('#img_' + IDimg).attr('src', '/SlipImg/noImage.png');
            $("#" + obj.id + "").val("");


            document.getElementById("lbAlert").setAttribute("set-lan", "html:missing 'image file' field");
            SetLan(localStorage.getItem("Language"));
            $('#modalAlert').modal('show');
            $("#myModalLoad").modal('hide');
        }
    }

     function OpenPage() {
            window.location.href = "ListQuotation?id="+@Session["UserID"].ToString();
    }

    function disRate(id) {
        var show = $('#currency_id2').val();
        //console.log(show);
        //console.log(id.id);
        if (show == 8) {
            document.getElementById(id.id).disabled = true;
        } else {
            document.getElementById(id.id).disabled = false;
        }
    }

    function CreateGuid() {
        function _p8(s) {
            var p = (Math.random().toString(16) + "000000000").substr(2, 8);
            return s ? "-" + p.substr(0, 4) + "-" + p.substr(4, 4) : p;
        }
        return _p8() + _p8(true) + _p8(true) + _p8();
    }


    function insSlip() {
        var urlAction = $('#insSlip').val();
        var $div = $('div[id^="ListPayment"]:last');
        var num = parseInt($div.prop("id").match(/\d+/g), 10);
        var $ListPayment = $div.clone().prop('id', 'ListPayment' + num);
        var guid = CreateGuid();
        var chkimg = $("#img_1").get(0);
        var _chk = chkimg.src;

        if (_chk.includes("noImage") == false) {
            console.log("okay");

            for (var i = 1; i <= num; i++) {
                var dataFileName = document.getElementById('img_' + i).src;

                var fileUpload = $("#img_"+i).get(0);
                //var files = fileUpload.files;
                //console.log("file : " + files);

                const base64Data = fileUpload.src;
                const [, type] = base64Data.split(';')[0].split('/');
                //console.log(type)
                // Create  a FormData object
                var fileData = new FormData();
                //for (var i = 0; i < files.length; i++) {
                fileData.append('SlipImg', dataFileName.serialize());
                //}


                fileData.append('actionID', 0);
                fileData.append('actionName', "log_pay_member");
                fileData.append('fileExtension', type);
                fileData.append('name', "");
                fileData.append('url', "");
                fileData.append('createBy', @Session["UserID"].ToString());
                fileData.append('FileCode', guid);

                $.ajax({
                    url: urlAction,
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (obj) {
                        console.log(obj);
                    }
                });
            }


        } else {
            console.log("please upload slip");
        }

    }

    function UpdateBillTrans() {
        var _userid = @Session["UserID"].ToString();
        console.log(_userid);
        var urlAction = $('#UpdateBillTrans').val();
        console.log(urlAction);
        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                id: _id,
                complete_by: _userid,
            },
            success: function (obj) {
                OpenPage();
            }
        });
    }

    //$('#btnUpload').click(function () {
    //    var urlAction = $('#insSlip').val();
    //    //console.log(urlAction);
    //    var fileUpload = $("#Slip").get(0);
    //    var files = fileUpload.files;

    //    var fileData = new FormData();

    //    for (var i = 0; i < files.length; i++) {
    //        fileData.append(files[i].name, files[i]);
    //    }

    //    fileData.append('transaction_id', _id);
    //    fileData.append('amount', $("#amount").val());
    //    fileData.append('Slip', $("#Slip").val());

    //    $.ajax({
    //        url: urlAction,
    //        type: "POST",
    //        contentType: false, // Not to set any content header
    //        processData: false, // Not to process data
    //        data: fileData,
    //        success: function (obj) {
    //            UpdateBillTrans();

    //        }
    //    });
    //});
</script>

<style>
    h1 {
        text-align: center;
    }

    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }

    .head {
        text-align: center;
    }
        .checkheader {
        /*top: -4px;
        left: -5px;
        width: 12px;
        height: 1.375rem;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;*/
        border-right: 3px solid #f9ee72 !important;
        border-bottom: 3px solid #f9ee72 !important;
        /*transform: rotate(40deg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transform-origin: 100% 100%;*/
    }
</style>