<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8">
    @*<meta name="viewport" content="width=1480" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="x-ua-compatible" content="ie=edge">-->
    <title>askmebet</title>
    <link rel="icon" href="../img/logo-icon.jpeg" type="image/png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Material Design Bootstrap -->
    <link href="../Content/styles/mdb.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Your custom styles (optional) -->
    <link href="../Content/style.css" rel="stylesheet">
    <link href="../Content/jquery-ui.css" rel="stylesheet" />
    <link href="../Content/pagination.css" rel="stylesheet" />
    <link href="../Content/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="../Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="../Scripts/jquery-3.6.0.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Html.Hidden("getNameCompany", @Url.Action("getNameCompany", "Quotation"))
    @Html.Hidden("VieMain", @Url.Action("ListQuotation", "Quotation"))
</head>
<body class="fixed-sn">
    <div id="myModalLoad" class="modal" data-backdrop="static" data-keyboard="false" style="z-index: 9999">
        <div class="d-flex justify-content-center" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fbee59 !important;">
            <div class="spinner-border" role="status" style="width: 7rem; height: 7rem; font-size: 4rem;">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <form>
        <div class="wrapper container">
            <header>
                <!-- Header navigation -->
                <nav class="navbar navbar-light white p-0 fixed-top" style="position: fixed;align-content: center;margin-left: 10%;width: 80%;">
                    <a class="navbar-brand logo">
                        <img src="../img/Logo-02.jpeg" id="imgLogin">
                    </a>
                    <div class="navbar-panel-box">
                        <div class="navbar-panel d-flex justify-content-between">
                            <div class="d-flex align-items-center nav-top" style="margin-left: 10px;">
                                <div class="row" style="float: left;display: contents;">
                                    <a class="nav-link overflow ellipsis" aria-expanded="false" id="nameLogin" href="#" style="inline-size: fit-content;">
                                        <i class="far fa-user-circle" style="font-family:Arial, Helvetica, sans-serif;font-size:14px"> @Session["UserName"].ToString()</i>
                                    </a>
                                    <a class="nav-link" aria-expanded="false" id="position" style="margin-left: 1rem;inline-size: fit-content;">
                                        <i class="fas fa-briefcase"></i> <i id="company"></i>
                                    </a>
                                    <a class="nav-link" aria-expanded="false" id="timezone" style="margin-left: 1rem;">
                                        <i class="far fa-clock"></i>
                                    </a>
                                </div>
                            </div>
                            <input type="hidden" id="userID" value="@Session["UserID"].ToString()" />
                            <div class="d-flex align-items-center nav-top-links">
                                <a onclick="ModalLanguage();" id="txtLan">
                                    <img src="../img/usa.png" style="width: 20px; margin-right: .4rem;" />English
                                </a>
                                <div id="divblock" style="display: none;">
                                    <div style="border-bottom: 1px #ddd solid; padding: 3px;">
                                        <a onclick="SetLanguage('Thai');">
                                            <img src="../img/thailand.png" style="width: 20px;" />&emsp;ไทย
                                        </a>
                                    </div>
                                    <div style="padding: 3px;">
                                        <a onclick="SetLanguage('English');">
                                            <img src="../img/usa.png" style="width: 20px;" />&emsp;English
                                        </a>
                                    </div>
                                </div>
                                <a class="nav-link" set-lan="html:Log Out" href="@Url.Action("Login", "Login")"></a>
                            </div>
                        </div>
                        <div class="simple-marquee-container" style="background-color: #fbee59;">
                            <marquee class="marqueetxt" style="color: #fff; padding-top: 3px;"></marquee>
                        </div>
                    </div>
                </nav>
                <!--/. Header navigation -->
                <!-- Sidebar navigation -->
                <div id="slide-out" class="side-nav white fixed wide side-nav-light z-depth-0 setsidebar">
                    <ul class="custom-scrollbar_">
                        <!-- Side navigation links -->
                        <li>
                            <ul class="accordion collapsible collapsible-accordion">
                                <li id="menuDasboard" class="menuMain">
                                    <a class="collapsible-header waves-effect" onclick="OpenMenu1()">
                                        <i class="sv-slim-icon fas fa-dashboard"></i>
                                        <label class="main iconright" set-lan="text:Quotation List"></label>
                                    </a>
                                </li>
                                <li id="menuCompleteBill" class="menuMain">
                                    <a class="collapsible-header waves-effect" onclick="OpenMenu2()">
                                        <i class="sv-slim-icon far fa-report"></i>
                                        <label class="main iconright" set-lan="text:Pay history"></label>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--/. Side navigation links -->
                    </ul>
                </div>
                <!--/. Sidebar navigation -->
            </header>
            <main style="padding-top: 70px; padding-left:21% !important;width: 95%;">
                <div class="container body-content">
                    @RenderBody()
                    <footer>
                        @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
                    </footer>
                </div>
            </main>
        </div>

        <a ID="btnLogout" class="btn btn-lg btn-yellow font-weight-bold btn-block" href="@Url.Action("Login", "Login")" runat="server" Text="Log out" Style="display: none;" />
    </form>
    <style>
        .iconright {
            float: revert;
        }

        .setsidebar {
            top: 100px !important;
            left: 10% !important;
        }
    </style>
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script src="../Scripts/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="../Scripts/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script src="../Scripts/mdb.min.js"></script>
    <!-- ACE core JavaScript -->
    <script src="../Scripts/ace.min.js"></script>>
    <!-- Language core JavaScript -->
    <script type="text/javascript" src="../Scripts/language_Login.js"></script>
    <script src="../Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="../Scripts/jquery-ui.js"></script>
    <script>
        function getNameCompany() {
        var _id = @Session["UserID"].ToString();
        console.log(_id);

        var urlAction = $('#getNameCompany').val();

        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                id : _id,
            },
            success: function (obj) {
                console.log(obj.success);
                //alert(obj);
                //alert(obj.result);
                document.getElementById("company").textContent = obj.success;
                document.getElementById("company").style.color = "#7e8890";
                document.getElementById("company").style.fontSize = "14px";
                document.getElementById("company").style.fontFamily = "Arial, Helvetica, sans-serif";
                document.getElementById("company").style.fontStyle = "normal";
            }
        });
    }
    getNameCompany();


        function OpenMenu1() {
            window.location.href = "ListQuotation?id="+@Session["UserID"].ToString();
        }

        function OpenMenu2() {
            window.location.href = "HistoryList?id="+@Session["UserID"].ToString();
        }
        var role = "";
        var token;

        $(document).ready(function () {
        //if (navigator.geolocation) {
        //    navigator.geolocation.getCurrentPosition(showPosition);
        //}

        //document.getElementById('nameLogin').innerHTML = "<i class='far fa-user-circle'></i>" + $("#<%=LoginUser.ClientID%>").val();
        //$('#nameLogin').prop('title', $("#<%=LoginUser.ClientID%>").val());

        //document.getElementById('position').innerHTML = "<i class='fas fa-briefcase'></i>" + Position + "</span>";
        //token = localStorage.getItem("Token");

        $('#divblock').hide();
        $('#txtLan').click(function (e) {
            e.stopPropagation();
            $('#divblock').slideToggle();
        });
        $('#divblock').click(function (e) {
            e.stopPropagation();
        });
        $(document).click(function () {
            $('#divblock').slideUp();
        });

        if (localStorage.getItem("Language") == "Thai") {
            $("#txtLan").html("<img src='../img/thailand.png' style='width: 20px; margin-right: .4rem;' />ไทย");
        }
        else if (localStorage.getItem("Language") == "English") {
            $("#txtLan").html("<img src='../img/usa.png' style='width: 20px; margin-right: .4rem;' />English");
        }
        //else if (localStorage.getItem("Language") == "Chinese") {
        //    $("#txtLan").html("<img src='../img/Flag/china.png' style='width: 20px; margin-right: .4rem;' />中文");
        //}

        var m = new Date();
        var dateString = m.getUTCFullYear() + "/" + (m.getUTCMonth() + 1) + "/" + m.getUTCDate() + " " + m.getUTCHours() + ":" + m.getUTCMinutes() + ":" + m.getUTCSeconds();
        var thaiTime = m.toLocaleString("en-US", { timeZone: "Asia/Bangkok" });
        thaiTime = new Date(thaiTime);
        var txtthaiTime = ("0" + thaiTime.getDate()).slice(-2) + "/" + ("0" + (thaiTime.getMonth() + 1)).slice(-2) + "/" + ("0" + thaiTime.getFullYear()).slice(-2) + " " + ("0" + thaiTime.getHours()).slice(-2) + ":" + ("0" + thaiTime.getMinutes()).slice(-2) + ":" + ("0" + thaiTime.getSeconds()).slice(-2);
        $("#timezone").html("<i class='far fa-clock'></i>&nbsp;" + txtthaiTime + " GMT+7");

        setInterval(function () {
            var m = new Date();
            var dateString = m.getUTCFullYear() + "/" + (m.getUTCMonth() + 1) + "/" + m.getUTCDate() + " " + m.getUTCHours() + ":" + m.getUTCMinutes() + ":" + m.getUTCSeconds();
            var thaiTime = m.toLocaleString("en-US", { timeZone: "Asia/Bangkok" });
            thaiTime = new Date(thaiTime);
            var txtthaiTime = ("0" + thaiTime.getDate()).slice(-2) + "/" + ("0" + (thaiTime.getMonth() + 1)).slice(-2) + "/" + ("0" + thaiTime.getFullYear()).slice(-2) + " " + ("0" + thaiTime.getHours()).slice(-2) + ":" + ("0" + thaiTime.getMinutes()).slice(-2) + ":" + ("0" + thaiTime.getSeconds()).slice(-2);
            $("#timezone").html("<i class='far fa-clock'></i>&nbsp;" + txtthaiTime + " GMT+7");
        }, 1000);

        //$('.menuMain').each(function (i, obj) {
        //    if ($(obj).is(":hidden")) {
        //        $(obj).remove();
        //    }
        //});

        //if (Position_ID == 4) {
        //    $("#menuManagement").css("display", "none");
        //    $("#menuMng_Bank").css("display", "none");
        //}
        //else if (Position_ID == 3 || Position_ID == 2) {
        //    $("#menuManagement4").css("display", "none");
        //}

        SetLan(localStorage.getItem("Language"));
        });

        function showPosition(position) {
            $("#<%=Lat.ClientID%>").val(position.coords.latitude);
            $("#<%=Long.ClientID%>").val(position.coords.longitude);
        }

        function ModalLanguage() {
            $("#modalLanguage").modal();
        }

        function SetLanguage(ele) {
            SetLan(ele);
            if (ele == "Thai") {
                $("#txtLan").html("<img src='../img/thailand.png' style='width: 20px; margin-right: .4rem;' />ไทย");
            }
            else if (ele == "English") {
                $("#txtLan").html("<img src='../img/usa.png' style='width: 20px; margin-right: .4rem;' />English");
            }
            else if (ele == "Chinese") {
                $("#txtLan").html("<img src='../img/china.png' style='width: 20px; margin-right: .4rem;' />中文");
            }

            localStorage.setItem("Language", ele);

            $('#divblock').slideUp();

            var path = window.location.pathname;
            var page = path.split("/").pop();
            if (page == "generate_bill") {
                GetLanguage_generate_bill(ele);
            }
            else if (page == "bill_preview") {
                GetLanguage_bill_preview(ele);
            }
            else if (page == "generate_bill_form") {
                GetLanguage_generate_bill_form(ele);
            }
            else if (page == "bank_mng") {
                GetLanguage_Bank(ele);
            }
        }

        function LogOut() {
            localStorage.clear();
            $("#<%=btnLogout.ClientID%>").click();
        }

        function NewLine(str, maxLength) {
            var buff = "";
            var numOfLines = Math.floor(str.length / maxLength);
            for (var i = 0; i < numOfLines + 1; i++) {
                buff += str.substr(i * maxLength, maxLength); if (i !== numOfLines) { buff += "\n"; }
            }
            return buff;
        }

        function clsAlphaNoOnly(e) {  // Accept only alpha numerics, no special characters
            var regex = new RegExp("^[a-zA-Z0-9]+$");
            var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            if (regex.test(str)) {
                return true;
            }

            e.preventDefault();
            return false;
        }

        function clsAlphaTHNoOnly(e) {  // Accept only alpha numerics, no special characters
            var regex = new RegExp("^[ก-๏a-zA-Z0-9]+$");
            var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            if (regex.test(str)) {
                return true;
            }

            e.preventDefault();
            return false;
        }

        function Comma(Num) { //function to add commas to textboxes
            if (parseInt(Num) != 0) {
                Num += '';
                Num = Num.replace(',', ''); Num = Num.replace(',', ''); Num = Num.replace(',', '');
                Num = Num.replace(',', ''); Num = Num.replace(',', ''); Num = Num.replace(',', '');
                x = Num.split('.');
                x1 = x[0];
                x2 = x.length > 1 ? '.' + x[1] : '';
                var rgx = /(\d+)(\d{3})/;
                while (rgx.test(x1))
                    x1 = x1.replace(rgx, '$1' + ',' + '$2');
                return x1 + x2;
            }
            else {
                return "";
            }
        }

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }

        function GetMonth(idMonth) {
            var txt = "";
            if (idMonth == 1) {
                txt = "January";
            }
            else if (idMonth == 2) {
                txt = "February";
            }
            else if (idMonth == 3) {
                txt = "March";
            }
            else if (idMonth == 4) {
                txt = "April";
            }
            else if (idMonth == 5) {
                txt = "May";
            }
            else if (idMonth == 6) {
                txt = "June";
            }
            else if (idMonth == 7) {
                txt = "July";
            }
            else if (idMonth == 8) {
                txt = "August";
            }
            else if (idMonth == 9) {
                txt = "September";
            }
            else if (idMonth == 10) {
                txt = "October";
            }
            else if (idMonth == 11) {
                txt = "November";
            }
            else if (idMonth == 12) {
                txt = "December";
            }

            return txt;
        }

        function GetBankType(ID) {
            var txt = "";
            if (ID == 1) {
                txt = "Savings Account";
            }
            else if (ID == 2) {
                txt = "Fixed Deposit Account";
            }
            else if (ID == 3) {
                txt = "Current Account";
            }
            else if (ID == 4) {
                txt = "Crypto Currency";
            }

            return txt;
        }

    </script>
</body>
</html>
